/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */

.custom-navbar {
  background: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav-link {
  position: relative;
  color: #fff !important;
  font-weight: 600;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ff6b00;
  transition: 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
}