body {
  padding-top: 90px;
  background: #f2f2f2;
}

/* DROPDOWN FIX */
.user-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  display: none;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.user-dropdown.show {
  display: block;
}

.user-dropdown a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* TOP INFO */
.top-info {
  margin-top: 20px;
}

/* ICON */
.icon-box {
  width: 60px;
  height: 60px;
  background: linear-gradient(90deg, #ff6b00, #ff8c42);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon-box:hover{
  cursor: pointer;
}

/* MAIN */
.contact-main {
  background: #f7f7f7;
  padding: 40px;
}

/* IMAGE */
.contact-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* BUTTON */
.send-btn {
  background: #6fa8b6;
  color: white;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6b00, #ff8c42);
}

.send-btn:hover{
  color: black;
  transform: translateY(-3px);
  box-shadow: 0 15px 40px rgba(255,107,0,0.6);
  background: linear-gradient(90deg, #ff6b00, #ff8c42);
  transition: 0.2s ease;
}

.send-btn:active{
  transform: scale(0.96);
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff6b00;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#userInitial {
  font-size: 18px;
}

